# MacOS
.DS_Store

# Sublime Text
app.sublime-project
app.sublime-workspace

# Storybook
.storybook-static

# Test
coverage

# Marketplace Microsites
.build
npm-debug.log
lerna-debug.log
node_modules
.npmrc

# Microsite Core
packages/core/build
packages/core/node_modules
packages/core/.env.develop
packages/core/.env.release

# Microsite Docs
packages/docs/build
packages/docs/node_modules
packages/docs/.env.develop
packages/docs/.env.release
